<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>CFBundleURLTypes</key>
    <array>
        <dict>
            <key>CFBundleURLName</key>
            <string>com.iti.carto.checkout</string>
            <key>CFBundleURLSchemes</key>
            <array>
                <string>carto</string>
            </array>
        </dict>
        <dict>
            <key>CFBundleTypeRole</key>
            <string>Editor</string>
            <key>CFBundleURLName</key>
            <string>Google</string>
            <key>CFBundleURLSchemes</key>
            <array>
                <string>com.googleusercontent.apps.711243946677-du7rm609126332tqghijjjqu27abr6r9</string>
            </array>
        </dict>
    </array>
    <key>GIDClientID</key>
    <string>711243946677-du7rm609126332tqghijjjqu27abr6r9.apps.googleusercontent.com</string>
    <key>GroqAPIKey</key>
    <string>$(GROQ_API_KEY)</string>
    <key>PaymobApiIntegrationId</key>
    <string>$(PAYMOB_API_INTERGRATION_ID)</string>
    <key>PaymobApiPublicKey</key>
    <string>$(PAYMOB_API_PUBLIC_KEY)</string>
    <key>PaymobApiSecretKey</key>
    <string>$(PAYMOB_API_SECRET_KEY)</string>
    <key>ShopifyAccessToken</key>
    <string>$(SHOPIFY_ACCESS_TOKEN)</string>
    <key>NSSpeechRecognitionUsageDescription</key>
    <string>Carto needs speech recognition permission to dictate your AI queries.</string>
    <key>NSMicrophoneUsageDescription</key>
    <string>Carto needs microphone access to record your voice for text dictation.</string>
    <key>NSCameraUsageDescription</key>
    <string>Carto needs camera access to let you search for products by taking a photo.</string>
    <key>ShopifyApiKey</key>
    <string>$(SHOPIFY_API_KEY)</string>
    <key>ShopifyApiSecretKey</key>
    <string>$(SHOPIFY_API_SECRET_KEY)</string>
    <key>ShopifyApiVersion</key>
    <string>$(SHOPIFY_API_VERSION)</string>
    <key>ShopifyShopDomain</key>
    <string>$(SHOPIFY_SHOP_DOMAIN)</string>
    <key>ShopifyStorePassword</key>
    <string>$(SHOPIFY_STORE_PASSWORD)</string>
    <key>ShopifyStorefrontToken</key>
    <string>$(SHOPIFY_STOREFRONT_TOKEN)</string>
</dict>
</plist>
